.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--main-background);
}

.LandingDialog {
  background-color: #eee;
  padding: 30px;
  border-radius: 5px;

  box-shadow: 2px 2px 8px 2px #2226;
}

#MessageContainer h1 {
  margin-bottom: 20px;
}

#WelcomeActionContainer {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  justify-content: center;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#create-dialog {
  text-align: center;
}
#create-dialog button {
  margin-top: 10px;
}
